body{
    margin:0;
    padding:0;
    text-align:center;
}
h1{
    margin:0;
}
p{
    margin:0;
    padding:0;
}
.navbar{
    height:100px;
    width:100%;
    background-color:rgb(3, 27, 27);
    color:White;
    display:flex;
    justify-content:center;
    align-items:center;
}
.hand-section{
    display:flex;
    width:100%;
    height:300px;
    justify-content:center;
    align-items:center;
}
.all{
    width:180px;
    height:180px;
    border-radius:50%;
    margin:25px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.all:hover{
    opacity:0.5;
    cursor:pointer;
    border:3px solid black;
}
.stone{
    background-color:rgb(243, 132, 150);
}
.paper{
    background-color:rgb(199, 17, 199);
}
.scissor{
    background-color:rgb(55, 158, 231);
}
.icon{
    font-size:80px;
    color:white;
}
.score-board{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    gap:5rem;
    margin-top:3rem;
}
#user-score,#comp-score{
    font-size:4rem;
}

#msg{
    background-color:black;
    color:white;
    font-size:2rem;
    display:inline-block;
    margin-top:4rem;
    padding:1rem;
    border-radius:1rem;
    box-shadow:0 0 10px black;
}
